.test-result-controls {
    margin-top: 2rem;
    display: flex;

    button:first-of-type {
        margin-right: 3rem;
    }

    .test-result-control {
        text-decoration: none;
        padding: 0.5rem;
        font-weight: bolder;
        outline: none;
        transition: all 0.1s ease-in-out;
        background: none;
        border: none;
        &:hover {
            transform: scale(1.05);
        }
        text-transform: capitalize;
    }
}
