<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control run-test-field" formControlName="username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control run-test-field" formControlName="password" id="password">
            </div>
        </fieldset>
        <div id="button-holder">
            <button type="submit" [disabled]="!loginForm.valid" class="btn-submit btn">Login</button>
        </div>
    </form>
</div>