@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import "~material-design-icons/iconfont/material-icons.css";

// Fonts and reset
html,
body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.material-icons {
    font-size: 16px;
    vertical-align: middle;
}

.container-fluid {
    padding: 0;
}

// setting global form-control styling
.form-control {
    font-size: 1.2rem;
    font-weight: 900;
}

.container {
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 30rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: 3rem;
    .btn-submit {
        font-weight: bolder;
        background-color: black;
        color: white;
    }
    .test-result {
        margin-top: 2rem;

        #result-title {
            font-weight: 900;
        }
    }
}
